@import "_reset";
@import "_colores";
@import "_fuentes";


/*Encabezados*/
@import "_encabezados";


/*Cambio de Color Bootstrap*/
@import "_colores-bootstrap";

a{
    text-decoration: none;
}

/*SiteMap*/
.body-sitemap{
    height: 100vh;
    background-color: $eden;
}

/*header*/
@import "_header";

/*main*/

main {     
    background-image:linear-gradient($san-marino,$eden);   
    
}

.main-index {         
    .main-index__free{        
        color: $eden;
        background-color: $sinbad;
        .free__article{
            height: 100%;            
        }
        .free__image{
            background-color: $blanco;
            height: 100%;            
        }
    }
    .main-index__premium{      
        color: $blanco; 
        background-color: $san-marino;  
        .premium__article{
            height: 100%;           
        }
        .premium__image{
            height: 100%;              
        }
    }
}

.main-about{
    color: $blanco;
}

.main-services {       
    .main-services__free{        
        color: $eden; 
        background-color: $sinbad;
        .free__article{
            height: 100%;            
        }
        .free__image{
            background-color: $blanco;
            height: 100%;            
        }
    }
    .main-services__premium{       
        color: $blanco; 
        
        .premium__article{
            height: 100%;           
        }
        .premium__image{
            height: 100%;              
        }
    }
}

.main-contacto {     
    form {
        color: $eden !important;
        border: 2px solid $eden;
        border-radius: 5px;  
        .btn-primary {
            border-color: $eden !important;   
            background-color: $san-marino;
                
        }
        .btn-primary:hover{
            background-color: $bondi-blue !important;
        }
        .btn-primary:active{
            background-color: $bondi-blue !important;
        }     
    }
    .info-contacto{
        color: $eden !important;
        font-size: 0.8rem; 
    }    
}

.main-sitemap__section{
    h1{
        padding-bottom: 10px !important;
    }
    h2{
        color: $eden;
        padding-top: 5px !important;
    }
    h3{
        color: $san-marino;
    }
    ul p{
        color: $san-marino !important; 
        padding: 5px !important;
    }
    
    background-image:linear-gradient($san-marino,$eden) !important;    
    
    
}

.main-sitemap__fixed{
    height: 90px;       
    background-color: $eden;
}

#error{
    height: 100vh;
    background-image:url('../assets/images/error.svg');
    background-size: cover;
    h1{
        font-size: 10vw;
        
    }
    h2{
        font-size: 3vw;
        
    }
    .logo{
        height: 25vh;
    }
    .credit{
        color: $eden;       
    }
    
}

/* footer*/
@import "_footer";


